.center1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.center2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
